# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '* * 27 * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Muranosoft TimeTracker AutoFiller
        env:
          AD_USERNAME: ${{ secrets.AD_USERNAME }}
          AD_PASSWORD: ${{ secrets.AD_PASSWORD }}
          CATEGORY: ${{ secrets.CATEGORY }}
          DESCRIPTION: ${{ secrets.DESCRIPTION }}
        run: |
          docker run --rm --entrypoint tta appulate/tta:latest -u $AD_USERNAME -c $CATEGORY -p $AD_PASSWORD -d "$DESCRIPTION"
